* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #273A89;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

main {
    max-width: 350px;
    margin: 20px auto;
}

.logo {
    font-size: 35px;
    color: #fafafa;
}

nav {
    display: flex;

}

ul {
    display: none;
}

.one {
    width: 50px;
    height: 50px;
    background-color: #6C4DC2;
    border-radius: 100%;
    margin-left: 140px;
}

.serch {
    width: 30px;
    height: 30px;
    margin: 7px;
}

.tow {
    width: 50px;
    height: 50px;
    background-color: #6C4DC2;
    border-radius: 100%;
    margin-left: 15px;
}

hr {
    border-radius: 7px;
    top: 15px;
    height: 5px;
    background-color: #ffffff;
    position: relative;
    right: 13px;
}

.hr1 {
    width: 30px;
    position: relative;
    top: 12px;
}

.hr2 {
    width: 20px;
    position: relative;
    top: 16px;
}

.hr3 {
    width: 15px;
    position: relative;
    top: 20px;
}

.title {
    margin-top: 50px;
    width: 280px;
    height: 65px;
    border-radius: 65px;
    background-color: #3d5f61;
    display: flex;
}

.max {
    background-color: #3576EC;
    width: 70px;
    height: 65px;
    border-radius: 100%;
    display: flex;
}

.user {
    margin: 10px;
    width: 50px;
    height: 50px;
    display: block;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 20px;
    color: #E7A651;
}

.fakt {
    color: #ffff;
    font-size: 60px;
    margin-top: 30px;
    font-weight: 500;
}

h2 {
    margin-top: 20px;
    color: #ffff;
    font-weight: 200;
    word-spacing: 7px;
    font-size: 27.5px;
}

button {
    margin-top: 25px;
    background-color: #E7A651;
    width: 150px;
    height: 50px;
    color: #fafafa;
    font-weight: 300;
    font-size: 20px;
    border: none;
    border-radius: 7px;
}

.bitmap {
    height: 307px;
    width: 329px;
    margin-top: 40px;
}

.icon1 {
    border-radius: 100%;
    width: 60px;
    height: 60px;
    background-color: #6C4DC2;
    margin-left: 13px;
}

.hight {
    display: flex;
    margin-top: 50px;
    margin-left: 45px;
}

.face {
    width: 20px;
    margin: 18px;
}

.twitter {
    width: 30px;
    margin: 18px;
}

.insta {
    width: 25px;
    margin: 18px;
}

.body2 {
    width: 100%;
    height: 2000px;
    background-color: #ffffff;
    margin-top: 70px;
    overflow-x: hidden;
}

.mas {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: #6C4DC2;
    margin-top: 80px;

}

.port {
    font-weight: 300;
    font-size: 20px;
    color: #757575;
}

.tat {
    margin-top: 90px;
}

.shape {
    width: 30px;
    margin: 18px;
}

.main {
    display: flex;
    margin-left: 50px;

}

.txt1 {
    font-size: 25px;
    margin-left: 10px;
}

.mas1 {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: #55B184;
    margin-top: 80px;

}

.port1 {
    font-weight: 300;
    font-size: 20px;
    color: #757575;
}

.tat1 {
    margin-top: 90px;
}

.shape1 {
    width: 30px;
    margin: 18px;
}

.main1 {
    display: flex;
    margin-left: 50px;

}

.txt2 {
    font-size: 25px;
    margin-left: 10px;
}


.mas2 {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: #3576EC;
    margin-top: 80px;

}

.port2 {
    font-weight: 300;
    font-size: 20px;
    color: #757575;
}

.tat2 {
    margin-top: 90px;
}

.shape2 {
    width: 30px;
    margin: 18px;
}

.main2 {
    display: flex;
    margin-left: 50px;


}

.txt3 {
    font-size: 25px;
    margin-left: 10px;
}

.login {
    font-size: 50px;
    margin-left: 25px;
}

.poth1 {
    width: 379px;
    height: 310px;
    margin-top: 30px;
    border-radius: 30px;
    margin-left: 15px;

}

.poth2 {
    width: 379px;
    height: 290px;
    margin-top: 60px;
    border-radius: 30px;
    margin-left: 15px;

}

.poth3 {
    border-radius: 30px;
    width: 395px;
    height: 310px;
    margin-top: 40px;
    margin-left: 5px;
}

@media only screen and (min-width:1200px) {
    main {
        max-width: 1000px;
        margin: 20px auto;
    }

    body {
        overflow-x: hidden;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    ul {
        display: flex;
        list-style: none;
        margin-left: 120px;
    }

    li {
        color: #fafafa;
        margin-right: 40px;

    }

    .tow {
        display: none;

    }

    .max {
        height: 50px;
        border-radius: 65px;

    }

    .user {
        height: 40px;
        width: 40px;
    }

    .title {
        height: 50px;
        margin-top: 39px;
    }

    .fakt {
        font-size: 70px;
    }

    h3 {
        margin-top: -5px;
    }

    h2 {
        font-size: 20px;
    }

    .hero {
        width: 100%;
    }

    .hero-text {
        width: 50%;

    }

    .hero-img {
        width: 50%;
        margin-left: 600px;
        margin-top: -550px;
    }

    .bitmap {
        height: 450px;
        width: 480px;
    }

    .hight {
        margin-left: 800px;

    }
    .body2{
       width: 100%;
       height: 800px; 
    }
.main{
    float: left;
    margin-left: 80px;
}
.main1{
    margin-left: 150px;
    float: left;
}
.main2{
    margin-left:950px;
}
.login{
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin-top: 30px;
}
.imgg{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: -60px;
}
.poth1{
margin-top: 40px;
    height: 286px;
    width: 350px;
}
.poth2{

    height: 266px;
    width: 350px;
}
.poth3{
margin-top: 70px;
    height: 286px;
    width: 350px;
}
button:hover{
background-color: #3576EC;
}
}